.base-bkg {
  min-height: 100vh;
  min-width: 100%;
  // background-image: linear-gradient(to right, rgb(250, 117, 117), yellow);

  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(242, 243, 236, 1) 63%,
    rgba(218, 220, 199, 1) 87%,
    rgba(168, 173, 133, 1) 99%,
    rgba(168, 173, 133, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(30%, rgba(255, 255, 255, 1)),
    color-stop(63%, rgba(242, 243, 236, 1)),
    color-stop(87%, rgba(218, 220, 199, 1)),
    color-stop(99%, rgba(168, 173, 133, 1)),
    color-stop(100%, rgba(168, 173, 133, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(242, 243, 236, 1) 63%,
    rgba(218, 220, 199, 1) 87%,
    rgba(168, 173, 133, 1) 99%,
    rgba(168, 173, 133, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(242, 243, 236, 1) 63%,
    rgba(218, 220, 199, 1) 87%,
    rgba(168, 173, 133, 1) 99%,
    rgba(168, 173, 133, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(242, 243, 236, 1) 63%,
    rgba(218, 220, 199, 1) 87%,
    rgba(168, 173, 133, 1) 99%,
    rgba(168, 173, 133, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(242, 243, 236, 1) 63%,
    rgba(218, 220, 199, 1) 87%,
    rgba(168, 173, 133, 1) 99%,
    rgba(168, 173, 133, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a8ad85', GradientType=0 );
}
