$blue:    #007bff !default;
$primary:       $blue !default;

.submenu {

  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 1rem;

  &-buttons{
    display: flex;
    flex-direction: row;

  }

  &-brand {
    font-size: 1rem;
    color: $primary;
  }

  &-btn {
    font-size: 1rem;
    margin-right: 3px;
  }
}


.main {
  margin: 10px;
}

.datatable {
  margin-top: 10px;
}
