<main class="frame">
  <section class="tablegraph" *ngIf="rows.displayOutboundCallsIndicators[0]">
    <article id="Calls" class="tablegraph-card">
      <p class="tablegraph-subtitles">Niveles</p>

      <!-- Nivel de servicio -->
      <div class="tablegraph-table ">
        <p class="tablegraph-text">Nivel de contactabilidad</p>

        <p class="tablegraph-number ">
          {{
          rows.displayOutboundCallsIndicators[0]
            .outboundContactLevel | percent: "1.2-2"
        }}
        </p>
      </div>

      <!-- Nivel de efectividad -->
      <div class="tablegraph-table ">
        <p class="tablegraph-text">Nivel de efectividad</p>
        <p class="tablegraph-number ">
          {{
          rows.displayOutboundCallsIndicators[0]
            .outboundEffectiveLevel | percent: "1.2-2"
        }}
        </p>
      </div>

      <!-- Nivel de abandono -->
      <!-- <div class="tablegraph-table ">
        <p class="tablegraph-text">Nivel de abandono</p>
        <p class="tablegraph-number ">
          {{
          rows.displayOutboundCallsIndicators[0]
            .outboundAbandonLevel | percent: "1.2-2"
        }}
        </p>
      </div> -->

      <div>
        <p class="tablegraph-subtitles">Tiempos</p>
      </div>

      <!-- TMO -->
      <div class="tablegraph-table ">
        <p class="tablegraph-text">TMO</p>
        <p class="tablegraph-number ">
          {{
          rows.displayOutboundCallsIndicators[0]
            .outboundTMO | number: "1.0-2"
        }}
        </p>
      </div>

      <!-- ASA -->
      <div class="tablegraph-table ">
        <p class="tablegraph-text">Tiempo de operación</p>
        <p class="tablegraph-number ">
          {{
          rows.displayOutboundCallsIndicators[0]
            .operation_time
        }}
        </p>
      </div>

      <!-- Máx espera en cola -->
      <!-- <div class="tablegraph-table "
           *ngIf="userSelection.mode.name === 'Actual'">
        <p class="tablegraph-text">Máx espera en cola</p>
        <p class="tablegraph-number ">
          {{
                rows.displayOutboundCurrentCallsInicators[0]
                  .maxWaitTimeOnQue | number: "1.0-2"
              }}
        </p>
      </div> -->


      <!-- Max espera -->
      <!-- <div class="tablegraph-table ">
        <p class="tablegraph-text">Max espera</p>
        <p class="tablegraph-number ">
          {{
          rows.displayOutboundCallsIndicators[0]
            .maxWaitTime | number: "1.0-2"
        }}
        </p>
      </div> -->
    </article>

  </section>
</main>