<section class="main">
  <p class="subtitles" *ngIf="rows.agentsAuxiliarResume[0] !== undefined">
    Agentes en auxiliar </p>

  <section class="indicadores">
    <article *ngIf="rows.agentsAuxiliarResume">
      <ul class="inidcadores-items"
          *ngFor="let item of rows.agentsAuxiliarResume">
        <li class="indicadores-cantidad">
          {{ item.value }}
        </li>
        <li class="indicadores-descripcion">
          {{ item.name | shortNames}}
        </li>
        <li class="indicadores-porcentaje">
          {{ item.duration }}
        </li>
      </ul>
    </article>
  </section>
</section>