<main class="frame">
  <div class="inner indicator-pointer" (click)="openDetailModal(new, 'conectado')">
    <p class="subtitles text-center">Agentes conectados</p>

    <section class="dashboard">

      <!-- -----PIE -->
      <article id="parent" class="pie">
        <div id="child">
          <app-dashboard-inbound-agents-pie [rows]="rows">
          </app-dashboard-inbound-agents-pie>
        </div>
      </article>

      <!-- LEGEND -->
      <article class="legend">
        <div>
          <app-dashboard-inbound-agents-distribution [rows]="rows">
          </app-dashboard-inbound-agents-distribution>
        </div>
      </article>
    </section>
  </div>
</main>


<!-- MODAL WINDOW FOR SELECTOR ---------------------------------------------------- -->
<ng-template #new class="modal-full">
  <div class="modal-header modal-primary">
    <p class="modal-title ">Detalle del registro</p>
    <button type="button" class="btn btn-danger text-lg-center "
            (click)="activeModal.close()">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <app-dashboard-dashboard-inbound-modal-agents [modalView]="modalView">
  </app-dashboard-dashboard-inbound-modal-agents>

</ng-template>