<section class="main">
  <p class="subtitles"
     *ngIf="rows.agentsHistoricAssignationResume[0] !== undefined">
    Historico asignaciones</p>

  <section class="indicadores">
    <article *ngIf="rows.agentsHistoricAssignationResume">
      <ul class="inidcadores-items"
          *ngFor="let item of rows.agentsHistoricAssignationResume">
        <li class="indicadores-descripcion text-left pointer"
            (click)="selectLine(break, item.id)">
          {{ item.value }}
        </li>
        <li class="indicadores-cantidad pointer"
            (click)="selectLine(break, item.id)">
          {{ item.name | shortNames}}
        </li>
        <li class="indicadores-porcentaje pointer"
            (click)="selectLine(break, item.id)">
          {{ item.duration }}
        </li>
      </ul>
    </article>
  </section>
</section>