.blue {
  background: rgb(14, 65, 233);
  color: white;
  border-radius: 5px;
}

.blue:hover {
  background: rgb(12, 58, 207);
}

.green {
  background: rgb(52, 187, 34);
  border-radius: 5px;
}

.green:hover {
  background: rgb(44, 160, 29);
}

.yellow {
  background: rgb(245, 245, 45);
  border-radius: 5px;
}

.yellow:hover {
  background: rgb(206, 206, 37);
  border-radius: 5px;
}

.red {
  background: rgb(236, 41, 41);
  color: white;
  border-radius: 5px;
}

.red {
  background: rgb(206, 36, 36);
}

.gray {
  background: #e6e4e4;
  border-radius: 5px;
}

.gray:hover {
  background: #c2bfbf;
}
