<main class="grid" *ngIf="rows">

  <!-- LEVELS -->

  <!-- Nivel de servicio -->
  <article class=" frame">
    <div class="indicator-cell {{rows.colors[0].inboundServiceLevel}}"
         *ngIf="rows.colors">
      <!-- <div class="indicator-cell "> -->
      <p class="indicator-label">Nivel de servicio</p>
      <p class="indicator-number ">
        {{
              rows.displayInboundCallsIndicators[0]
                .inboundServiceLevel | percent: "1.2-2"
            }}
      </p>
    </div>

  </article>


  <!-- Nivel de atención -->
  <article class=" frame">
    <div class="indicator-cell {{rows.colors[0].inboundAttentionLevel}}"
         *ngIf="rows.colors">
      <p class="indicator-label">Nivel de atención</p>
      <p class="indicator-number ">
        {{
                rows.displayInboundCallsIndicators[0]
                  .inboundAttentionLevel | percent: "1.2-2"
              }}
    </div>
  </article>






  <!-- CALLS -->


  <!-- Llamadas en abandonadas -->
  <article class=" frame">
    <div class="indicator-cell {{rows.colors[0].inboundAbandoned}}"
         *ngIf="rows.colors">
      <p class="indicator-label">Llamadas<br /> abandonadas</p>
      <p class="indicator-number ">
        {{
            rows.displayInboundCallsIndicators[0].inboundAbandoned
              }}
      </p>
    </div>
  </article>




  <!-- GRAY INDICATORS -->



  <!-- Agentes planificados -->
  <article class=" frame">
    <div class="indicator-cell gray">
      <p class="indicator-label">Agentes<br />planificados</p>
      <p class="indicator-number ">
        {{
                        rows.agentsPlannedTotal[0]
                          .agentsPlannedTotal
                      }}
      </p>
    </div>
  </article>


  <!-- Agentes conectados -->
  <article class="frame">
    <div class="indicator-cell gray">
      <p class="indicator-label">Agentes<br />registrados</p>
      <p class="indicator-number ">
        {{
                    rows.agentsLoggedTotal[0]
                      .agentsLoggedTotal
                  }}
      </p>
    </div>
  </article>

  <!-- TMO -->
  <article class="frame">
    <div class="indicator-cell gray">
      <p class="indicator-label">TMO</p>
      <p class="indicator-number ">
        {{
                    rows.displayInboundCallsIndicators[0]
                      .inboundTmo | number: "1.0-0"
                  }}
      </p>
    </div>
  </article>

</main>