@import "shared/styles/responsive/responsive-sizes";
@import "projects/display/src/app/shared/styles/display/agents-pie";

.main {
  margin: 20px;
  padding: 0;
  background: white;
}

.main-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
  margin-top: 5px;
  padding: 0;
}

.clock {
  margin-right: 20px;
}

.info {
  margin: 20px;
  padding: 0;
}

.very-small{
  font-size: 0.8rem;
}

.highlights {
  border-bottom: 5px;
}

.board {
  display: grid;
  grid-template-columns: 2fr 2fr 4fr 2fr;

  padding: 0;
  grid-gap: 0.5rem;
}

// grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr;

.card {
  border: 1px black;
}

@media screen and (max-width: map-get($grid-breakpoints, "xl")) {
  .board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    grid-gap: 0.5rem;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "lg")) {
  .board {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    grid-gap: 0.5rem;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "md")) {
  .board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    grid-gap: 0.5rem;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "sm")) {
  .board {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5px;
    padding: 0;
    grid-gap: 0.5rem;
  }
}
