<!----------ALERT MESSAGE------------------------- -->
<div>
  <app-alert [alertMessage]="alertMessage"></app-alert>
</div>

<!----------REPORT HEADER------------------------- -->
<app-dashboard-dashboard-header [userSelection]="userSelection"
                                [selectorVisibleFields]="selectorVisibleFields"
                                [timerConnected]="timerConnected"
                                [historic]="historic"
                                (returnResult)="onReturnHeaderResult($event)">
</app-dashboard-dashboard-header>


<section class="main-button">
  <div>
    <button class="btn btn-outline-primary"
            (click)="onShowGraph()">Gráfico</button>
    <button class="btn btn-outline-primary"
            (click)="onShowGroups()">Grupos</button>
    <button class="btn btn-outline-primary"
            (click)="onShowHistoric()">{{historicLabel}}</button>

    <a class="small text-secondary">
      {{rows.dashboardInboundCallsIndicators[0].now | date: 'medium'}}
    </a>
  </div>
  <div class="clock ml-auto">
    <a>
      <fa-icon [icon]="faClock"></fa-icon> &nbsp; {{timerConnected}}
    </a>
  </div>
</section>

<!-- TODAY -->
<main class="main" *ngIf="historic">
  <!-- HIGHLIGHTS -->
  <section class="highlights">
    <article>
      <!-- <p class="small"> HIGHLIGHTS </p> -->
      <app-dashboard-inbound-highlights [rows]="rows">
      </app-dashboard-inbound-highlights>
    </article>
  </section>


  <section *ngIf="show_groups">
    <app-dashboard-dashboard-inbound-groups [userSelection]="userSelection">

    </app-dashboard-dashboard-inbound-groups>
  </section>

  <section *ngIf="show_graph">
    <app-dashboard-dashboard-inbound-graph [userSelection]="userSelection"
                                           [rows]="rows_graph"
                                           [rows_total]="rows_total_graph"
                                           [idealResponseTime]="idealResponseTime_graph">

    </app-dashboard-dashboard-inbound-graph>
  </section>


  <section *ngIf="!show_groups && !show_graph">
    <div class="board">
      <article class="pane">
        <app-dashboard-inbound-calls [rows]="rows"
                                     [userSelection]="userSelection">
        </app-dashboard-inbound-calls>
      </article>

      <article>
        <app-dashboard-inbound-levels [rows]="rows"
                                      [userSelection]="userSelection">
        </app-dashboard-inbound-levels>
      </article>

      <article>
        <app-dashboard-inbound-agents [rows]="rows">
        </app-dashboard-inbound-agents>
      </article>

      <article>
        <app-dashboard-inbound-breaks [rows]="rows">
        </app-dashboard-inbound-breaks>
      </article>
    </div>
  </section>
</main>

<!-- HISTORIC -->
<main class="main" *ngIf="!historic">

  <!-- HIGHLIGHTS -->
  <section class="highlights">
    <article>
      <!-- <p class="small"> HIGHLIGHTS </p> -->
      <app-dashboard-inbound-highlights-historic [rows]="rows">
      </app-dashboard-inbound-highlights-historic>
    </article>
  </section>


  <section *ngIf="show_groups">
    <app-dashboard-dashboard-inbound-groups [userSelection]="userSelection">

    </app-dashboard-dashboard-inbound-groups>
  </section>

  <section *ngIf="show_graph">
    <app-dashboard-dashboard-inbound-graph [userSelection]="userSelection"
                                           [rows]="rows_graph"
                                           [rows_total]="rows_total_graph"
                                           [idealResponseTime]="idealResponseTime_graph">

    </app-dashboard-dashboard-inbound-graph>
  </section>


  <section *ngIf="!show_groups && !show_graph">
    <div class=" board">
      <article class="pane">
        <app-dashboard-inbound-calls [rows]="rows"
                                     [userSelection]="userSelection">
        </app-dashboard-inbound-calls>
      </article>

      <article>
        <app-dashboard-inbound-levels [rows]="rows"
                                      [userSelection]="userSelection">
        </app-dashboard-inbound-levels>
      </article>

      <article>
        <app-dashboard-dashboard-inbound-agents-historic [rows]="rows">
        </app-dashboard-dashboard-inbound-agents-historic>
      </article>

      <article>
        <app-dashboard-dashboard-inbound-breaks-historic [rows]="rows">
        </app-dashboard-dashboard-inbound-breaks-historic>
      </article>
    </div>
  </section>



</main>