<section class="main">
  <p class="subtitles" *ngIf="rows.agentsAuxiliarResume[0] !== undefined">
    Agentes en auxiliar </p>

  <section class="indicadores">
    <article *ngIf="rows.agentsAuxiliarResume">
      <ul class="inidcadores-items"
          *ngFor="let item of rows.agentsAuxiliarResume">
        <li class="indicadores-cantidad" (click)="selectLine(break, item.id)">
          {{ item.value }}
        </li>
        <li class="indicadores-descripcion"
            (click)="selectLine(break, item.id)">
          {{ item.name }}
        </li>
        <li class="indicadores-porcentaje" (click)="selectLine(break, item.id)">
          {{ item.duration }}
        </li>
      </ul>
    </article>
  </section>
</section>