<!-- Secciones Menu -->
<div class="navbar-nav">
  <div class="nav-item dropdown" dropdown #dropdown="bs-dropdown"
       [autoClose]="true">

    <a id="navdrop" dropdownToggle role="button"
       class="nav-link dropdown-toggle"
       aria-controls="dropdown-basic">Usuario</a>

    <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-triggers-manual">

      <!-- MENU ITEM-->
      <li role="menuitem">
        <a class="dropdown-item "
           routerLink="/system/layout/crud-userbase/crud-userbase">
          <fa-icon [icon]="faIdBadge"></fa-icon> &nbsp; Configuración usuario
        </a>

      </li>


    </ul>
  </div>
</div>