<main class="frame">
  <div class="inner">
    <p class="subtitles text-center">Agentes conectados</p>

    <section class="dashboard">

      <!-- -----PIE -->
      <article id="parent" class="pie">
        <div id="child">
          <app-display-inbound-agents-pie [rows]="rows">
          </app-display-inbound-agents-pie>
        </div>
      </article>

      <!-- LEGEND -->
      <article class="legend">
        <div>
          <app-display-inbound-agents-distribution [rows]="rows">
          </app-display-inbound-agents-distribution>
        </div>
      </article>
    </section>
  </div>
</main>