<section>
  <nav class="navbar navbar-expand-lg navbar-dark configheader-menu">
    <header-menu-brand></header-menu-brand>

    <a routerLink="/crud/home" class="chapter nav-link">Configuración</a>

    <article class="collapse navbar-collapse" id="navigation">
      <!-- ---- LEFT MENU --------- -->
      <div>
        <app-crud-header-menu-general></app-crud-header-menu-general>
      </div>

      <!-- ---- LEFT MENU --------- -->
      <div>
        <app-crud-header-menu-people></app-crud-header-menu-people>
      </div>


      <!-- ---- LEFT MENU --------- -->
      <div>
        <app-crud-header-menu-operation></app-crud-header-menu-operation>
      </div>


      <!-- ---- LEFT MENU --------- -->
      <!-- <div>
        <app-crud-header-menu-planning></app-crud-header-menu-planning>
      </div> -->


      <!-- ---- RIGHT MENU --------- -->
      <div class="navbar-nav ml-auto">
        <header-menu-user></header-menu-user>
      </div>
    </article>
  </nav>
</section>