
.modal-full {
  min-width: 90%;
  margin: 5% 5% 5% 5%;
  align-content: center;
}

.modal-body {
  margin: 0;
  padding: 0;
  background: white;
}
.modal-title {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.modal-header {
  background: #1068b4;
  color: white;
}