.agent-box {
  font-size: 0.9rem;
}

.fields {
  min-width: 100px;
}

.ng-dropdown-panel.ajustar {
  width: 100px !important;
}

// .titles {
//   display: grid;
//   grid-template-columns: 2fr 2fr 2fr;
//   grid-gap: 1rem;
//   padding: 3px 3px 1rem 3px;
//   margin: 5px 20px 0px 20px;
// }

// .report {
//   margin: 20px;
// }

// .mycontainer {
//   padding: 0;
//   margin: 10px;
// }

// .subtiulo {
//   display: grid;
//   grid-template-columns: 4fr 1fr;
// }

// .small_tittle {
//   font-size: 0.9rem;
//   color: red;
// }

// .botonera {
//   display: flex;
//   justify-content: flex-end;
// }

// .button-area {
//   display: flex;
//   justify-content: flex-end;
// }

// .alerta {
//   background: #fff3cd;
//   color: 856404;
// }

// .identificacion-reporte {
//   h2 {
//     font-size: 2em;
//   }

//   h5 {
//     font-size: 0.9em;
//   }
// }

// .indicadores {
//   h4 {
//     font-size: 0.9em;
//     margin-top: 1em;
//     font-weight: 800;
//     text-align: right;
//   }

//   .btn {
//     font-size: 2em;
//     text-align: right;
//     color: white;
//   }

//   .row-eq-height {
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex;
//   }
// }

// .table {
//   font-size: 0.8em;
//   tr {
//     line-height: 25px;
//     min-height: 25px;
//     height: 25px;
//   }
//   .numero {
//     font-size: 1.8em;
//     font-weight: 800;
//     text-align: right;
//   }
// }

// .tablas {
//   h4 {
//     background: #adb5bd;
//     padding: 5px;
//     font-size: 0.9em;
//     margin-top: 1em;
//     font-weight: 800;
//     text-align: center;
//   }
// }

// .panel {
//   h4 {
//     margin-top: 1em;
//     font-size: 1.2em;
//   }
// }

// .pointer {
//   cursor: pointer;
// }
