<!-- Secciones Menu -->
<div class="navbar-nav" *ngIf="currentUser">
  <!-- MENU WRAPPER -->
  <div class="nav-item dropdown" dropdown #dropdown="bs-dropdown"
       [autoClose]="false">
<!-- MENU TITLE -->
    <a dropdownToggle class="nav-link dropdown-toggle" id="navdrop"
       role="button" data-toggle="dropdown" data-hover="dropdown">Secciones</a>
<!-- MENU LIST -->
    <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-triggers-manual">

      <!-- MENU ITEM-->
      <li role="menuitem">
        <a class="dropdown-item " routerLink="/app1/" *ngIf="showInMenu >= 10">
          <i class="fas fa-chart-area"></i> &nbsp; App1
        </a>
      </li>

      <!-- MENU ITEM-->
      <li role="menuitem">
        <a class="dropdown-item " routerLink="/show/" *ngIf="showInMenu >= 7">
          <i class="fas fa-digital-tachograph"></i> &nbsp; Show
        </a>
      </li>

      <!-- DIVIDER-->
      <li class="divider dropdown-divider"></li>

      <!-- MENU ITEM-->
      <li role="menuitem">
        <a class="dropdown-item " routerLink="/display/">
          <i class="fas fa-digital-tachograph"></i> &nbsp; Display
        </a>
      </li>

      <!-- MENU ITEM-->
      <li role="menuitem">
        <a class="dropdown-item " routerLink="/dashboard/">
          <i class="fas fa-chart-area"></i> &nbsp; Dashboard
        </a>
      </li>

      <!-- MENU ITEM-->
      <li role="menuitem">
        <a class="dropdown-item " routerLink="/reports/">
          <i class="fas fa-swatchbook"></i>&nbsp; Reportes
        </a>
      </li>


      <!-- DIVIDER-->
      <li class="divider dropdown-divider"></li>



      <!-- MENU ITEM-->
      <li role="menuitem">
        <a class="dropdown-item " routerLink="/crud/" *ngIf="showInMenu >= 5">
          <i class="fas fa-marker"></i> &nbsp; Configuración
        </a>
      </li>

      <!-- MENU ITEM-->
      <li role="menuitem">
        <a class="dropdown-item " routerLink="/audit/" *ngIf="showInMenu >= 5">
          <i class="fas fa-eye"></i> &nbsp; Auditoría
        </a>
      </li>


      <!-- DIVIDER-->
      <li class="divider dropdown-divider"></li>


      <!-- MENU ITEM-->
      <li role="menuitem">
        <a class="dropdown-item " routerLink="/system/"
           *ngIf="showInMenu >= 10">
          <i class="fas fa-magic"></i> &nbsp; Sistema
        </a>
      </li>

      <!-- DIVIDER-->
      <li class="divider dropdown-divider"></li>


      <!-- MENU ITEM-->
      <li role="menuitem">
        <a class="dropdown-item" routerLink="/user/">
          <i class="fas fa-user-tie"></i> Usuario
        </a>
      </li>

    </ul>
  </div>
</div>
<!-- end menu -->