<section>
  <nav class="navbar navbar-expand-lg navbar-dark configheader-menu">
    <header-menu-brand></header-menu-brand>

    <a routerLink="/init/home" class="chapter nav-link">Home</a>

    <article class="collapse navbar-collapse" id="navigation">


      <!-- ---- LEFT MENU --------- -->
      <ul class="navbar-nav" *ngIf="!currentUser">
        <!-- ----------------------------------- -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navdrop" role="button"
             data-toggle="dropdown" data-hover="dropdown">Login/registro</a>
          <!-- ----------------------------------- -->
          <div class="dropdown-menu" aria-labelledby="navdrop">
            <a class="dropdown-item configheader-menu"
               routerLink="/user/layout/login/">
              <i class="fas fa-user-tie"></i> Login
            </a>

            <a class="dropdown-item configheader-menu"
               routerLink="/user/layout/login/login-register/">
              <i class="fas fa-user-tie"></i> Registro
            </a>

          </div>
        </li>
      </ul>

      <!-- ---- LEFT MENU --------- -->
      <ul class="navbar-nav" *ngIf="currentUser">
        <!-- ----------------------------------- -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navdrop" role="button"
             data-toggle="dropdown" data-hover="dropdown">Secciones</a>

          <!-- ----------------------------------- -->
          <div class="dropdown-menu" aria-labelledby="navdrop">


            <!-- ---------------------------------- -->

            <!-- ---------------------------------- -->

            <a class="dropdown-item " routerLink="/display/"
               *ngIf="showInMenu >0">
              <i class="fas fa-digital-tachograph"></i> &nbsp; Display
            </a>

            <a class="dropdown-item " routerLink="/dashboard/"
               *ngIf="showInMenu >0">
              <i class="fas fa-chart-area"></i> &nbsp; Dashboard
            </a>

            <a class="dropdown-item " routerLink="/reports/"
               *ngIf="showInMenu >0">
              <i class="fas fa-swatchbook"></i>&nbsp; Reportes
            </a>

            <!----------------------------------- -->
            <div class="dropdown-divider"
                 *ngIf="showInMenu === 5 || showInMenu >= 10"></div>
            <!-- ---------------------------------- -->

            <a class="dropdown-item " routerLink="/crud/"
               *ngIf="showInMenu === 5 || showInMenu >= 10">
              <i class="fas fa-marker"></i> &nbsp; Configuración
            </a>

            <a class="dropdown-item " routerLink="/audit/"
               *ngIf="showInMenu === 5 || showInMenu >= 10">
              <i class="fas fa-eye"></i> &nbsp; Auditoría
            </a>


            <!-- ---------------------------------- -->
            <div class="dropdown-divider" *ngIf="showInMenu >0"></div>
            <!-- ---------------------------------- -->

            <a class="dropdown-item " routerLink="/sms/" *ngIf="showInMenu >0">
              <i class="fas fa-eye"></i> &nbsp; Mensajería
            </a>


            <!-- ---------------------------------- -->
            <div class="dropdown-divider" *ngIf="showInMenu >= 7"></div>
            <!-- ---------------------------------- -->

            <a class="dropdown-item " routerLink="/system/"
               *ngIf="showInMenu >= 7">
              <i class="fas fa-magic"></i> &nbsp; Sistema
            </a>


            <!-- ---------------------------------- -->
            <div class="dropdown-divider" *ngIf="showInMenu >0"></div>
            <!-- ---------------------------------- -->

            <a class="dropdown-item" routerLink="/user/" *ngIf="showInMenu >0">
              <i class="fas fa-user-tie"></i> Usuario
            </a>



          </div>
        </li>
      </ul>
      <!------------Avanzado------>
      <ul class="navbar-nav" *ngIf="currentUser && showInMenu === 20">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navdrop" role="button"
             data-toggle="dropdown" data-hover="dropdown">Avanzado</a>

          <!-- ----------------------------------- -->
          <div class="dropdown-menu" aria-labelledby="navdrop">
            <a class="dropdown-item " routerLink="/app1/"
               *ngIf="showInMenu === 20">
              <i class="fas fa-chart-area"></i> &nbsp; App1
            </a>

            <a class="dropdown-item " routerLink="/show/"
               *ngIf="showInMenu === 20">
              <i class="fas fa-digital-tachograph"></i> &nbsp; Show
            </a>

          </div>
        </li>
      </ul>

      <!------------FIN Avanzado------>

      <!-- ---- RIGHT MENU --------- -->
      <div class="navbar-nav ml-auto">
        <header-menu-user></header-menu-user>
      </div>
    </article>
  </nav>
</section>