.blue {
  background: rgb(14, 65, 233);
  color: white;
}

.green {
  background: rgb(52, 187, 34);


}

.yellow {
  background: rgb(245, 245, 45);
}

.red {
background: rgb(236, 41, 41);
color: white;
}

.gray{
  background: #c3c3c3;
}
