<main class="main">

  <h2>Frontend env variables</h2>
  <ul>
    <li>
      loopbackApiUrl: {{env.loopbackApiUrl}}

    </li>
    <li>
      systemApiUrl: {{env.systemApiUrl}}

    </li>
    <li>
      version: {{env.version}}

    </li>
    callcenterName: {{env.callcenterName}}

    <li>
      callcenterSlogan: {{env.callcenterSlogan}}

    </li>
    <li>
      callcenterLogo: {{env.callcenterLogo}}

    </li>
    <li>
      callcenterSite: {{env.callcenterSite}}
    </li>

  </ul>

  <h2>Backend env variables</h2>

</main>